/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import "~material-design-icons-iconfont/dist/material-design-icons.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    background: #DCDCDC;
    padding: 3em;
    font-family: 'Cursive', 'Arial';
    color: #333;
    padding-top: 0px;
}
ul {
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
}
ul li {
    display: inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}
a {
    color: dark;
    text-decoration: none;
}

mat-card {
    background: #fff;
}