<mat-list>
  <mat-card>
    <mat-card-title>
      <h1>Top 100 of the two last week</h1>
    </mat-card-title>
    <mat-card-content>
      <app-game-item
        *ngFor="let game of games; let i = index" 
        [appid]="game.appid"
        [rank]="i + 1"
        [name]="game.name"
        [publisher]="game.publisher"
        [developer]="game.developer"
        [owners]="game.owners"
        (select)="onSelect($event)"
      ></app-game-item>
    </mat-card-content>
  </mat-card>
</mat-list>
