<mat-card class="make-scrollable">
  <mat-card-title>
    <h2>Steam Games</h2>
  </mat-card-title>
  <mat-card-content>
    <div class="row">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input style="width: 100%;" matInput placeholder="Rechercher un jeu" [matAutocomplete]="auto" [formControl]="search">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let game of filteredGames" [value]="game.name" (onSelectionChange)="goToDetail(game.appid)">
            <span>{{ game.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  </mat-card-content>
</mat-card>