<ng-container *ngIf="game; else loading">
  <div class="main" [style.background-image]="'url(' + game.background + ')'">
    <mat-card>
      <mat-card-title>
        <div class="title">
          <img [src]="game.header_image" class="thumbnail">
          <h1>{{ game.name }}</h1>
        </div>
      </mat-card-title>
      <mat-card-content>
        <div class="description">
          <strong>Description</strong>
          <div [innerHTML]="game.detailed_description"></div>
        </div>
        <div class="row">
          <div>
            <strong>Age</strong>
            <span>{{ game.required_age }}+</span>
          </div>
          <div>
            <strong>Site</strong>
            <span *ngIf="game.website != null">
              <a [href]="game.website" target="_blank" class="site">{{ game.website }}</a>
            </span>
            <span class="website" *ngIf="game.website == null">
              <p>Aucun lien disponible vers le site officiel.</p>
            </span>
          </div>
          <div>
            <strong>Genre</strong>
            <span *ngFor="let genre of game.genres">{{ genre.description }}</span>
          </div>
          <div>
            <strong>Catégories</strong>
            <div class="cat">
              <span class="categorie" *ngFor="let categorie of game.categories">{{ categorie.description }}.</span>
            </div>
          </div>
          <div>
            <strong>Développeurs</strong>
            <span *ngFor="let developer of game.developers">{{ developer }}</span>
          </div>
          <div>
            <strong>Editeurs</strong>
            <span *ngFor="let publisher of game.publishers">{{ publisher }}</span>
          </div>
          <div>
            <strong>Date</strong>
            <span>{{ game.release_date.date }}</span>
          </div>
          <div class="prix">
            <strong class="titleprix">Prix</strong>
            <div>
              <span class="price" *ngIf="!game.is_free">
                {{ game.price_overview.final / 100 | number : '1.2-2' }}€
              </span>
              <span class="price" *ngIf="game.is_free">
                Gratuit
              </span>
            </div>
          </div>
        </div>
        <div>
          <strong class="screen">Screenshots</strong>
          <div class="size" *ngFor="let screenshot of game.screenshots">
            <a [href]="screenshot.path_full" target="_blank">
              <img class="screenshots" [src]="screenshot.path_thumbnail">
            </a>
          </div>
        </div>
      </mat-card-content>

      <ng-template #loading>
        <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
      </ng-template>
    </mat-card>
  </div>
</ng-container>