.main {
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2em;
}

mat-card {
    height: 624px; //Or any other height you wish
    overflow-y: scroll;
    margin-top: 0;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    &:hover {
        box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
        transition: background .4s cubic-bezier(.25,.4,.25,1),box-shadow 240ms cubic-bezier(.4,0,.2,1);
    }
}

.title {
    display: flex;
    align-items: center;
}

.thumbnail {
    overflow:hidden;
    width:300px;
    height:150px;
    margin-right: 1em;
    box-shadow: 0 4px 4px 4px rgba(0,0,0,.2), 0 4px 4px 0 rgba(0,0,0,.14), 0 4px 4px 0 rgba(0,0,0,.12) !important;
}

strong {
    display: inline-block;
    margin-bottom: .5em;
    font-size: 1.2em;
}

.row {
    display: block;
    margin-top: 2em;
}

span {
    margin-left: .5em;
}

.site {
    color: #000; 
    text-decoration: underline;
}

.website {
    display: inline-flex;
}

p {
    margin: 0;
}

.cat {
    margin-bottom: .4em;
}

.categorie {
    margin-right: 10px;
    margin-bottom: .3em;
    margin-left: 0;
}

.prix {
    display: flex;
}

.titleprix {
    font-size: 1.1em;
}

.price {
    font-size: 1.1em;
}

.screen {

    display: flex;
    margin-left: 0;
}

.size {
    display: inline;
    flex-flow: row;
}

.screenshots {
    margin: 2.6px;
    width:250px;
    height:150px;
    transition: transform .3s;
    justify-content: space-around;
    box-shadow: 0 4px 4px 4px rgba(0,0,0,.2), 0 4px 4px 0 rgba(0,0,0,.14), 0 4px 4px 0 rgba(0,0,0,.12) !important;
    &:hover {
        transform: scale(1.2);
    }
}

.container {
    margin-top: 1.5em;
    width: 100%;
    box-shadow: 0 4px 4px 4px rgba(0,0,0,.2), 0 4px 4px 0 rgba(0,0,0,.14), 0 4px 4px 0 rgba(0,0,0,.12) !important;

}

.items {
    width:250px;
    height:200px;
}

.left, .right { 
    margin: 30px;
    width: 30px;
    height: 30px;
    text-decoration: none;
}