.row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px !important;
    width: 100%;
    cursor: pointer;
    &:hover {
        background: #eee;
    }
}

.index {
    font-size: 1.5em;
    font-weight: bold;
    flex: 0.5;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    flex: 4;
}

.owners {
    flex: 1;
    display: flex;
    align-items: center;
}

.publisher {
    flex: 1;
    margin-right: 1rem;
}

.developer {
    flex: 1;
    margin-right: 1rem;
}

.face {
    margin-right: 0.5rem; 
}